

h1 { font-family: AppleGothic;
  font-size: 40px;
  padding-left: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  letter-spacing: 3px;
  }
 label {font-family: AppleGothic;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  letter-spacing: 2px;}
option {font-family: AppleGothic;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }
#graph {font-family: AppleGothic;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  letter-spacing: 1.5px;
margin: auto;}

.dropbtn {
  background-color: white;
  color: black;
  border-color: black;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: black;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 32px;
}
#butt {
  margin-left: 42px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black
color: white;}

.show {display:block;}
